---
console.log("javascript")
import HeaderButton from './HeaderButton.astro';
import Search from './Search.astro';
import CalendarButton from './CalendarButton.astro';
import BatteryButton from './BatteryButton.astro';
import WiFiButton from './WiFiButton.astro';
import ChromeButton from './ChromeButton.astro';
import SettingsButton from './SettingsButton.astro';
import MicrosoftStoreButton from './MicrosoftStoreButton.astro';
import GoogleCalendarButton from './GoogleCalendarButton.astro';
---

<header class="fixed top-1 left-0 w-full bg-red-900 z-40 flex flex-col items-center md:flex-row md:justify-between h-13">
  <nav class="flex items-center justify-start w-full px-4">
    <Search />
  </nav>
  
  <nav class="absolute top-0 left-1/2 transform -translate-x-1/2 flex space-x-4">
    <!-- Botones a la izquierda de Start -->
    <div class="some-container">
      <GoogleCalendarButton />
    </div>
    
    <div class="some-container">
      <MicrosoftStoreButton />
    </div>

    <!-- Bot贸n de Start -->
    <HeaderButton class="text-white text-lg px-6 py-5" href="start">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
        <path d="M7.462 0H0v7.19h7.462zM16 0H8.538v7.19H16zM7.462 8.211H0V16h7.462zm8.538 0H8.538V16H16z"/>
      </svg>
    </HeaderButton>

    <!-- Botones a la derecha de Start -->
    <div class="some-container">
      <SettingsButton />
    </div>

    <div class="some-container">
      <ChromeButton />
    </div>
  </nav>

  <nav class="flex items-center space-x-1">
    <!-- Bot贸n de Settings -->
    <WiFiButton />
  

    <!-- Bot贸n de Calendar -->
    <BatteryButton />
  

    <!-- Bot贸n de Browser -->
    <CalendarButton />
  </nav>
</header>